.idea/
*.rofl
*~
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h1
librofl/Makefile.in
librofl/Makefile
librofl/.deps
librofl/*.o
librofl/librofl.a